In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.offline as pyo
pyo.init_notebook_mode()
import plotly.express as px

In [ ]:
data=pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")

In [ ]:
data.head()

Here 16744 represents Number of Samples and
16 represents Total Number of Features taken

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
cols=data.columns.tolist()

In [ ]:
cols

# CHECKING MISSING VALUES

Python Recognizes Missing values as NaN

In [ ]:
data.isna()

In [ ]:
data.isna().sum()

Let's Remove "+" sign attached to AGE column

In [ ]:
data.dtypes

In [ ]:
data['Age']

In [ ]:
age_map={'13+':13,'18+':18,'7+':7,'All':0,'16':16}
data["AgeCopy"] = data["Age"].map(age_map)
data["AgeCopy"]

In [ ]:
data['Age'].unique()

In [ ]:
data["Age"]

Let's Remove "%" sign attached to Rotten Tomatoes column

In [ ]:
data["Rotten Tomatoes"]=data["Rotten Tomatoes"].str.replace('%','')

In [ ]:
for i in data["Rotten Tomatoes"]:
    if i==str:
        i.astype(int)

In [ ]:
data["Rotten Tomatoes"]

# Visualisations

1.What is the Nummber of Movies for each group?

In [ ]:
data["Age"].value_counts()

2.Top 10 Languages in Streaming Service

In [ ]:
data.Language.value_counts()

In [ ]:
language=data.Language.value_counts().head(10)
plt.figure(figsize=(10,10))
plt.title('Top 10 Languages in Streaming Service')
sns.barplot(x=language.index,y=language.values)

In [ ]:
from IPython.display import HTML
import plotly.express as px
fig=px.pie(data,
          values=language.values,
          names=language.index,
          title="Top 10 Languages in Streaming Service")

HTML(fig.to_html())

 **Number of Movies in specific age group in All services**

In [ ]:
data["Age"].value_counts()

In [ ]:
from IPython.display import HTML
import plotly.express as px


fig= px.bar(data,
            x=data["Age"].value_counts().index,
            y=data["Age"].value_counts(),
            title="Number of Movies in specific age group in All services",
            text=data["Age"].value_counts(),
            height=600)
fig.update_traces(texttemplate="%{text:.2s}",textposition="outside")

HTML(fig.to_html())

**Number of Movies in specific age group in Netflix**

In [ ]:
from IPython.display import HTML
import plotly.express as px

netflix_data=data[data["Netflix"]==1]

fig= px.bar(data,
            x=netflix_data["Age"].value_counts().index,
            y=netflix_data["Age"].value_counts(),
            title="Number of Movies in specific age group in Netlix",
            text=netflix_data["Age"].value_counts(),
            height=600)
fig.update_traces(texttemplate="%{text:.2s}",textposition="outside")

HTML(fig.to_html())

**Number of Movies in specific age group in Amazon Prime Video**

In [ ]:
from IPython.display import HTML
import plotly.express as px

prime_data=data[data["Prime Video"]==1]

fig= px.bar(data,
            x=prime_data["Age"].value_counts().index,
            y=prime_data["Age"].value_counts(),
            title="Number of Movies in specific age group in Amazon Prime",
            text=prime_data["Age"].value_counts(),
            height=600)
fig.update_traces(texttemplate="%{text:.2s}",textposition="outside")

HTML(fig.to_html())

**Number of Movies in specific age group in Amazon Disney+**

In [ ]:
from IPython.display import HTML
import plotly.express as px

Disney_data=data[data["Disney+"]==1]

fig= px.bar(data,
            x=Disney_data["Age"].value_counts().index,
            y=Disney_data["Age"].value_counts(),
            title="Number of Movies in specific age group in Disney+",
            text=Disney_data["Age"].value_counts(),
            height=600)
fig.update_traces(texttemplate="%{text:.2s}",textposition="outside")

HTML(fig.to_html())

**Number of Movies in specific age group in Amazon Hulu**

In [ ]:
from IPython.display import HTML
import plotly.express as px

Hulu_data=data[data["Hulu"]==1]

fig= px.bar(data,
            x=Hulu_data["Age"].value_counts().index,
            y=Hulu_data["Age"].value_counts(),
            title="Number of Movies in specific age group in Hulu",
            text=Hulu_data["Age"].value_counts(),
            height=600)
fig.update_traces(texttemplate="%{text:.2s}",textposition="outside")

HTML(fig.to_html())

**Rotten Tomatoes Score**:

A Tomatometer score is calculated for a movie or TV show after it receives at least five reviews. When at least 60% of reviews for a movie or TV
show are positive, a red tomato is displayed to indicate its Fresh status.
Rotten Tomatoes gives films a score out of 100 based on the averaged reviews of professional film critics. If a film gets a rating of 60 or more it
gets a 'fresh' red tomato on the site. Less than 60 and it gets a rotten tomato.

**Rotten Tomatoes Ratings For All Services**

In [ ]:
from IPython.display import HTML
import plotly.express as px
Hulu_data=data [data [ 'Hulu']==1]
fig= px.bar (data,
x=data ['Rotten Tomatoes'].value_counts().index,
y=data ['Rotten Tomatoes'].value_counts(),
title="Overall Rotten Tomatoes Ratings",
text=data ['Rotten Tomatoes'].value_counts (),
height=600)
fig.update_traces (texttemplate='%{text:.2s}', textposition='outside')
HTML (fig.to_html())

**Rotten Tomatoes Ratings For Each Services**

In [ ]:
netflix_data [ 'Rotten Tomatoes' ].value_counts() [0]

In [ ]:
rt_scores=pd. DataFrame({ 'Streaming Service': [ 'Prime Video', 'Hulu', 'Disney+', 'Netflix'],
'Rotten Tomatoes Score': [ netflix_data [ 'Rotten Tomatoes' ].value_counts() [0],
prime_data[ 'Rotten Tomatoes'].value_counts() [0],
Disney_data [ 'Rotten Tomatoes' ].value_counts()[0],
Hulu_data [ 'Rotten Tomatoes'].value_counts()[0]
]})
rt_scores.head()

In [ ]:
sort_rt_scores=rt_scores.sort_values(ascending=False,by="Rotten Tomatoes Score")
sort_rt_scores

In [ ]:
fig= px.bar (sort_rt_scores,
x=sort_rt_scores ['Streaming Service'],
y=sort_rt_scores ['Rotten Tomatoes Score'],
title="Rotten Tomatoes Score For Each Service",
text=sort_rt_scores ['Rotten Tomatoes Score'],
height=600)
fig.update_traces(marker_color="red",texttemplate='%{text:.2s}', textposition='outside')
HTML (fig.to_html())

### **IMDB** **Ratings**

In [ ]:
from IPython.display import HTML
import plotly.express as px
Hulu_data=data [data [ 'Hulu']==1]
fig= px.bar (data,
x=data ['IMDb'].value_counts().index,
y=data ['IMDb'].value_counts(),
title="Overall IMDb Ratings",
text=data ['IMDb'].value_counts (),
height=600)
fig.update_traces (texttemplate='%{text:.2s}', textposition='outside')
HTML (fig.to_html())

**Runtimes Of Movies**

In [ ]:
RuntimeCount=pd.DataFrame (dict(data [ 'Runtime'].value_counts().sort_values (ascending=False) [:10]).items (),
columns=['Runtime', 'Count'])
RuntimeCount

In [ ]:
fig= px.bar(data,
x=RuntimeCount [ 'Runtime'],
y=RuntimeCount [ 'Count'],
title="Count Of Runtime Of Movies",
text=RuntimeCount [ 'Runtime'],
height=600)
fig.update_traces (texttemplate='%{text:.2s}', textposition='outside')
HTML (fig.to_html())

**Exploring** **Genres**

In [ ]:
genres_=dict (data [ 'Genres'].value_counts())

In [ ]:
genres_count = dict()
for g, count in genres_.items():
  g = g.split(",")
  for i in g:
    if i in genres_count.keys ():
      genres_count[i] = genres_count.get(i) + 1
    else:
      genres_count[i] = 1

In [ ]:
genres_count

In [ ]:
count_genres_df=pd.DataFrame (genres_count.items (), columns=['Genre', 'Count'])
count_genres_df=count_genres_df.sort_values (by='Count', ascending=False).head (20)
count_genres_df

In [ ]:
fig = px.bar (count_genres_df,
x=count_genres_df ['Genre'],
y=count_genres_df ['Count'],
title="Directors And Their Count Of Movies They Have Directed",
text=count_genres_df [ 'Count' ],
height=600)
fig.update_traces (marker_color='green', texttemplate='%{text: .2s}', textposition= 'outside')
HTML (fig.to_html())

**What are the top movies on each platform?**

**On** **Netflix**

In [ ]:
data_netflix_top=netflix_data[netflix_data['IMDb']>8]
data_netflix_top=data_netflix_top[['Title', 'IMDb']].sort_values (ascending=False, by='IMDb')
data_netflix_top

In [ ]:
data_netflix_top.shape

In [ ]:
fig = px.bar (data_netflix_top,
x=data_netflix_top ['Title'],
y=data_netflix_top ['IMDb'],
title="Top Movies on Netflix",
text=data_netflix_top [ 'IMDb' ],
height=600)
fig.update_traces (marker_color='brown', texttemplate='%{text: .2s}', textposition= 'outside')
HTML (fig.to_html())

**On Amazon Prime**

In [ ]:
amz_top=prime_data[prime_data['IMDb']>8]
amz_top=amz_top[['Title', 'IMDb']].sort_values (ascending=False, by='IMDb')
amz_top

In [ ]:
amz_top.shape

In [ ]:
fig = px.bar (amz_top,
x=amz_top ['Title'],
y=amz_top ['IMDb'],
title="Top Movies on Prime",
text=amz_top [ 'IMDb' ],
height=600)
fig.update_traces (marker_color='yellow', texttemplate='%{text: .2s}', textposition= 'outside')
HTML (fig.to_html())

**On Hotsar**

In [ ]:
disney_top=Disney_data[Disney_data['IMDb']>8]
disney_top=disney_top[['Title', 'IMDb']].sort_values (ascending=False, by='IMDb')
disney_top

In [ ]:
disney_top.shape

In [ ]:
fig = px.bar (disney_top,
x=disney_top ['Title'],
y=disney_top ['IMDb'],
title="Top Movies on Disney+",
text=disney_top [ 'IMDb' ],
height=600)
fig.update_traces (marker_color='yellow', texttemplate='%{text: .2s}', textposition= 'outside')
HTML (fig.to_html())

**On Hulu**

In [ ]:
Hulu_top=Hulu_data[Hulu_data['IMDb']>8]
Hulu_top=Hulu_top[['Title', 'IMDb']].sort_values (ascending=False, by='IMDb')
Hulu_top

In [ ]:
Hulu_top.shape

In [ ]:
fig = px.bar (Hulu_top,
x=Hulu_top ['Title'],
y=Hulu_top ['IMDb'],
title="Top Movies on Hulu",
text=Hulu_top [ 'IMDb' ],
height=600)
fig.update_traces (marker_color='lightblue', texttemplate='%{text: .2s}', textposition= 'outside')
HTML (fig.to_html())

Best Streaming Service According to our analysis :

In [ ]:
#No.of Movies with more than 8.0 Rating in IMDB


#Netflix = 128
#Amazon = 324
#Disney+ = 21
#Hulu = 23

#Since Amazon Has Highest Number of movies with higher rating. Amazon is the best streaming service